<?php
/**
 * This is the template that will show the table to add/remove flags to an attribute's options.
 *
 * @package    BlueAcorn
 * @version    1.0.0
 * @author     Blue Acorn, Inc. <code@blueacorn.com>
 * @copyright  Copyright © 2014 Blue Acorn, Inc.
 */

$attributeModel = $this->getAttributeObject();
$enableImageOptions=$attributeModel->getData('enable_image_options');

?>

    <div>
        <ul class="messages">
            <li class="notice-msg">
                <ul>
                    <li><?php echo Mage::helper('catalog')->__('If you do not specify an option value for a specific store view then the default (Admin) value will be used.') ?></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="entity-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('catalog')->__('Manage Titles (Size, Color, etc.)') ?></h4>
        </div>
        <div class="box">
            <div class="hor-scroll">
                <table class="dynamic-grid" cellspacing="0" id="attribute-labels-table">
                    <tr>
                        <?php foreach ($this->getStores() as $_store): ?>
                            <th><?php echo $_store->getName() ?></th>
                        <?php endforeach; ?>
                    </tr>
                    <tr>
                        <?php $_labels = $this->getLabelValues() ?>
                        <?php foreach ($this->getStores() as $_store): ?>
                            <td>
                                <input class="input-text<?php if($_store->getId()==0): ?> required-option<?php endif; ?>" type="text" name="frontend_label[<?php echo $_store->getId() ?>]" value="<?php echo (is_array($_labels[$_store->getId()]))? $_labels[$_store->getId()][$_store->getId()] : $_labels[$_store->getId()]; ?>"<?php if ($this->getReadOnly()):?> disabled="disabled"<?php endif;?>/>
                            </td>
                        <?php endforeach; ?>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <br/>

    <div id="imageOptionsWarning" style="display:none;">
        <ul class="messages">
            <li class="notice-msg">
                <ul>
                    <li><?php echo Mage::helper('catalog')->__('You MUST save your attribute upon any change of Enable Image Options field for it to take effect.') ?></li>
                </ul>
            </li>
        </ul>
    </div>
    <script type="text/javascript">
        //<![CDATA[

        function updateImageOptionsWarning()
        {
            $$('#imageOptionsWarning')[0].toggle();
            if ($F('enable_image_options')==1 && $$('#matage-options-panel').length > 0) $$('#matage-options-panel')[0].hide();
        }


        if ($$('#enable_image_options')[0]) {
            Event.observe($$('#enable_image_options')[0], 'change', updateImageOptionsWarning);
        }

        //]]>
    </script>



<?php

if ($enableImageOptions !=1 )
{
    ?>
    <div class="entity-edit" id="matage-options-panel">
        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('catalog')->__('Manage Options (values of your attribute)') ?></h4>
        </div>
        <div class="box">
            <div class="hor-scroll">
                <table class="dynamic-grid" cellspacing="0"  cellpadding="0">
                    <tr id="attribute-options-table">
                        <?php foreach ($this->getStores() as $_store): ?>
                            <th><?php echo $_store->getName() ?></th>
                        <?php endforeach; ?>
                        <th><?php echo Mage::helper('catalog')->__('Position') ?></th>
                        <th class="nobr a-center"><?php echo Mage::helper('catalog')->__('Is Default') ?></th>
                        <th>
                            <?php if (!$this->getReadOnly()):?>
                                <?php echo $this->getAddNewButtonHtml() ?>
                            <?php endif;?>
                        </th>
                    </tr>
                    <tr class="no-display template" id="row-template">
                        <?php foreach ($this->getStores() as $_store): ?>
                            <td><input name="option[value][{{id}}][<?php echo $_store->getId() ?>]" value="{{store<?php echo $_store->getId() ?>}}" class="input-text<?php if($_store->getId()==0): ?> required-option<?php endif; ?>" type="text" <?php if ($this->getReadOnly()):?> disabled="disabled"<?php endif;?>/></td>
                        <?php endforeach; ?>
                        <td class="a-center"><input class="input-text" type="text" name="option[order][{{id}}]" value="{{sort_order}}" <?php if ($this->getReadOnly()):?> disabled="disabled"<?php endif;?>/></td>
                        <td><input class="input-radio" type="radio" name="default[]" value="{{id}}" <?php if ($this->getReadOnly()):?> disabled="disabled"<?php endif;?>/></td>
                        <td class="a-left">
                            <input type="hidden" class="delete-flag" name="option[delete][{{id}}]" value="" />
                            <?php if (!$this->getReadOnly()):?>
                                <?php echo $this->getDeleteButtonHtml() ?>
                            <?php endif;?>
                        </td>
                    </tr>
                </table>
            </div>
            <input type="hidden" id="option-count-check" value="" />
        </div>
    </div>
    <script type="text/javascript">
        //<![CDATA[
        var optionDefaultInputType = 'radio';

        // IE removes quotes from element.innerHTML whenever it thinks they're not needed, which breaks html.
        var templateText =
            '<tr class="option-row">'+
                <?php foreach ($this->getStores() as $_store): ?>
                '<td><input name="option[value][{{id}}][<?php echo $_store->getId() ?>]" value="{{store<?php echo $_store->getId() ?>}}" class="input-text<?php if($_store->getId()==0): ?> required-option<?php endif; ?>" type="text" <?php if ($this->getReadOnly()):?> disabled="disabled"<?php endif;?>/><\/td>'+
                <?php endforeach; ?>
                '<td><input class="input-text" type="text" name="option[order][{{id}}]" value="{{sort_order}}" <?php if ($this->getReadOnly()):?> disabled="disabled"<?php endif;?>/><\/td>'+
                '<td class="a-center"><input class="input-radio" type="{{intype}}" name="default[]" value="{{id}}" {{checked}} <?php if ($this->getReadOnly()):?> disabled="disabled"<?php endif;?>/><\/td>'+
                '<td class="a-left" id="delete_button_container_{{id}}">'+
                '<input type="hidden" class="delete-flag" name="option[delete][{{id}}]" value="" />'+
                <?php if (!$this->getReadOnly()):?>
                '<?php echo $this->getDeleteButtonHtml() ?>'+
                <?php endif;?>
                '<\/td>'+
                '<\/tr>';

        var attributeOption = {
            table : $('attribute-options-table'),
            templateSyntax : /(^|.|\r|\n)({{(\w+)}})/,
            templateText : templateText,
            itemCount : 0,
            totalItems : 0,
            isReadOnly: <?php echo (int)$this->getReadOnly(); ?>,
            add : function(data) {
                this.template = new Template(this.templateText, this.templateSyntax);
                var isNewOption = false;
                if(!data.id){
                    data = {};
                    data.id  = 'option_'+this.itemCount;
                    isNewOption = true;
                }
                if (!data.intype)
                    data.intype = optionDefaultInputType;
                Element.insert(this.table, {after: this.template.evaluate(data)});
                if (isNewOption && !this.isReadOnly) {
                    this.enableNewOptionDeleteButton(data.id);
                }
                this.bindRemoveButtons();
                this.itemCount++;
                this.totalItems++;
                this.updateItemsCountField();
            },
            remove : function(event){
                var element = $(Event.findElement(event, 'tr')); // !!! Button already
                // have table parent in safari
                // Safari workaround
                element.ancestors().each(function(parentItem){
                    if (parentItem.hasClassName('option-row')) {
                        element = parentItem;
                        throw $break;
                    } else if (parentItem.hasClassName('box')) {
                        throw $break;
                    }
                });


                if(element){
                    var elementFlags = element.getElementsByClassName('delete-flag');
                    if(elementFlags[0]){
                        elementFlags[0].value=1;
                    }

                    element.addClassName('no-display');
                    element.addClassName('template');
                    element.hide();
                    this.totalItems--;
                    this.updateItemsCountField();
                }
            },
            updateItemsCountField: function() {
                if (this.totalItems > 0) {
                    $('option-count-check').value = '1';
                } else {
                    $('option-count-check').value = '';
                }
            },
            enableNewOptionDeleteButton: function(id) {
                $$('#delete_button_container_' + id + ' button').each(function(button) {
                    button.enable();
                    button.removeClassName('disabled');
                });
            },
            bindRemoveButtons : function(){
                var buttons = $$('.delete-option');
                for(var i=0;i<buttons.length;i++){
                    if(!$(buttons[i]).binded){
                        $(buttons[i]).binded = true;
                        Event.observe(buttons[i], 'click', this.remove.bind(this));
                    }
                }
            }

        }
        if($('row-template')){
            $('row-template').remove();
        }
        attributeOption.bindRemoveButtons();

        if($('add_new_option_button')){
            Event.observe('add_new_option_button', 'click', attributeOption.add.bind(attributeOption));
        }
        Validation.addAllThese([
            ['required-option', '<?php echo Mage::helper('catalog')->__('Failed') ?>', function(v) {
                return !Validation.get('IsEmpty').test(v);
            }]]);
        Validation.addAllThese([
            ['required-options-count', '<?php echo Mage::helper('catalog')->__('Options is required') ?>', function(v) {
                return !Validation.get('IsEmpty').test(v);
            }]]);
        <?php foreach ($this->getOptionValues() as $_value): ?>
        attributeOption.add(<?php echo $_value->toJson() ?>);
        <?php endforeach; ?>
        //]]>
    </script>


    <!-- below are the updates to support the image options functionality -->
<?php
}
else
{
    $adminStoreId=0;

    ?>
    <div class="entity-edit" id="imageOptionsPanel">
        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('catalog')->__('Manage Image Options (values of your attribute)') ?></h4>
        </div>
        <div class="box">
            <div class="hor-scroll">
                <table class="dynamic-grid" cellspacing="0"  cellpadding="0" id="imageOptionsTable">
                    <tbody>
                    <tr>
                        <th><?php echo Mage::helper('catalog')->__('Option Code') ?></th>
                        <th><?php echo Mage::helper('catalog')->__('Current Value') ?></th>
                        <th></th>
                        <th></th>
                        <th>
                            <?php if (!$this->getReadOnly()):?>
                                <button id="addImageOptionButton" title="Add Option" type="button" class="scalable add" onclick="" style=""><span><span><span>Add Image Option</span></span></span></button>
                            <?php endif;?>
                        </th>
                    </tr>
                    <tr class="no-display imageOptionsTemplateRow">
                        <td  style="vertical-align:middle;"><input class="input-text required-option validate-unique-option" type="text" name="option[value][{{id}}][<?php echo $adminStoreId ?>]" value="{{val}}"></td>
                        <td class="a-center" style="vertical-align:middle;">{{imgtag}}</td>
                        <td class="a-left" colspan="2"  style="vertical-align:middle;"><input type="file" name="{{id}}" style="width:auto;"></td>
                        <td class="a-left"  style="vertical-align:middle;">
                            <input type="hidden" class="delete-flag" name="option[delete][{{id}}]" value="" />
                            <?php if (!$this->getReadOnly()):?>
                                <button title="Delete" type="button" class="scalable delete delete-image-option deleteImageOptionButton" onclick="" style="" id="{{deleteButtonId}}"><span><span><span>Delete</span></span></span></button>
                            <?php endif;?>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <script type="text/javascript">
    //<![CDATA[

        var imageOptionsManagerClass = Class.create({

            initialize : function() {

                this.tableId = 'imageOptionsTable';
                this.templateRowHtml = '';
                this.maxRowIndex = 0;
                this.rowsCount = 0;
                this.isReadOnly = <?php echo (int)$this->getReadOnly(); ?>;

                this.templateRowHtml = $$('#'+this.tableId+' tr.imageOptionsTemplateRow')[0].innerHTML;
                $$('#'+this.tableId+' tr.imageOptionsTemplateRow')[0].remove();

                var thisClass = this;
                $('addImageOptionButton').observe('click', function(ev)
                {
                    thisClass.addRow();
                });

                Validation.add('validate-unique-option','<?php echo Mage::helper('catalog')->__('Needs to be unique.') ?>',function(v){
                    return thisClass.validateUnique(v);
                });
            },

            addRow: function(rowData, imgPresent)
            {
                this.rowsCount++;

                var optionId='option_'+this.maxRowIndex;
                var optionValue='';
                if (rowData)
                {
                    if (rowData['id']) optionId=rowData['id'];
                    if (rowData['store0']) optionValue=rowData['store0'];
                }

                var deleteImageOptionButtonId='deleteButton_'+this.maxRowIndex;

                var imgTag='';
                if (imgPresent) imgTag='<img src="/media/blueacorn_imageoptions/option_'+optionId+'.png">';
                var html='<tr>'+this.templateRowHtml+'</tr>';
                html=html.replace(/{{id}}/g,optionId).replace(/{{val}}/g,optionValue).replace(/{{deleteButtonId}}/g,deleteImageOptionButtonId).replace('{{imgtag}}',imgTag);

                $$('#'+this.tableId+' tbody')[0].insert(html);

                var thisClass = this;
                $$('#'+this.tableId+' #'+deleteImageOptionButtonId)[0].observe('click', function(ev)
                {
                    var rowToDelete=$(this).up('tr');
                    $(rowToDelete).addClassName('no-display');
                    $(rowToDelete).down('td.a-left', 1).down('input.delete-flag').setValue(1);
                    $(rowToDelete).down('td', 0).down('input.required-option').removeClassName('required-option');
                    thisClass.rowsCount--;
                    thisClass.updateItemsCountField();
                });


                this.maxRowIndex++;
                this.updateItemsCountField();
            },

            updateItemsCountField: function()
            {
                $$('#option-count-check').value = (this.rowsCount > 0) ? 1 : '';
            },

            validateUnique: function(value)
            {
                var count=0;
                $$('.validate-unique-option').each(function(item) {


                    var parentClassName = item.up('tr').className;

                    if(parentClassName != 'no-display')
                    {
                        if ( item.value.trim() == value.trim())
                        {
                            count = count + 1;
                        }
                    }
                });
                return count <= 1 ? true : false;
            }

        });

        var imageOptionsManager = new imageOptionsManagerClass();

        <?php
            $path = Mage::helper('blueacorn_imageoptions')->getFlagAttributeLocation();

            foreach ($this->getOptionValues() as $_value)
            {
              if (file_exists($path.'option_'.$_value['id'].'.png'))
                echo 'imageOptionsManager.addRow('.$_value->toJson().',true);';
              else
                echo 'imageOptionsManager.addRow('.$_value->toJson().',false);';
            }
        ?>

        Validation.addAllThese([
            ['required-option', '<?php echo Mage::helper('catalog')->__('You need an option to be defined') ?>', function(v) {
                return !Validation.get('IsEmpty').test(v);
            }]]);
        Validation.addAllThese([
            ['required-options-count', '<?php echo Mage::helper('catalog')->__('Options is required') ?>', function(v) {
                return !Validation.get('IsEmpty').test(v);
            }]]);


    //]]>
    </script>

<?php
}